[tool.poetry]
name = "aws_lambda_env_modeler"
version = "1.0.0"
description = "TODO"
authors = ["Ran Isenberg"]
classifiers=[
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]
repository="https://github.com/ran-isenberg/aws-lambda-env-modeler"
readme = "README.md"
keywords = ["environment variables parser", "best practices", "aws serverless"]
license = "MIT-0"
packages = [
    { include = "aws_lambda_env_modeler" }]

[tool.poetry.urls]
"Issue tracker" = "https://github.com/ran-isenberg/aws-lambda-env-modeler/issues"
"Releases" = "https://github.com/ran-isenberg/aws-lambda-env-modeler/releases"


[tool.poetry.dependencies]
python = "^3.8.17"
pydantic = {version = "^2.0.0"}

[tool.poetry.dev-dependencies]
pytest = "*"
pytest-mock = "*"
pycodestyle = "*"
pytest-cov = "*"
pytest-html = "*"
python-dateutil = "*"
python-dotenv = "*"
GitPython = "*"
yapf = "*"
radon = "*"
xenon = "*"
pre-commit = "*"
flake8 = "*"
isort = "*"
mkdocs-material = "*"
mkdocs-git-revision-date-plugin = "*"
types-cachetools = "*"
mypy = "*"
types-requests = "*"
toml = "*"
wheel = "*"
setuptools = "*"
